<div [formGroup]="form">
  <label [attr.for]="input_value.key">{{input_value.label}}</label>

  <div [ngSwitch]="input_value.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="input_value.key"
            [id]="input_value.key" [type]="input_value.type">

    <select [id]="input_value.key" *ngSwitchCase="'dropdown'" [formControlName]="input_value.key">
      <option *ngFor="let opt of input_value.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{input_value.label}} is required</div>
</div>
